# Build results
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Mobile Specific
*.apk
*.aab
*.ipa

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# IDE
.idea/
*.swp
*.swo
